body {
  background: linear-gradient(180deg, #01000c 50%,#340447 ,#680de0);
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App, .contact, .main-about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-home {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;  
}

.main-home>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -10px -10px 20px #580a58;  
}

main>img:hover,
main>img:focus {
  filter: hue-rotate(405deg);
}

.btn-ui,
.btn-footer {
  background-color: #842ff3;
  border: groove 2px #03287e;
  border-radius: 15px;
  box-shadow: -4px -4px 2px #080e2b;
  color: #729be7;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  height: 3rem ;
  width: 8rem;
  margin: 0.2rem;
}

.btn-footer {
  background-color: #af73fd;  
  color: #0e5beb;    
}

hr {
  width: 90%;
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.btn-footer:hover,
.btn-footer:focus {
  background: linear-gradient(180deg, #48a7f5,#b634e9 ,#7611fa);
}

.btn-ui:hover,
.btn-ui:focus {
  background: linear-gradient(180deg, #a10ce6,#7814a0 ,#8530f3);
  box-shadow: -0px -0px 10px #a60aee;
  color: #fff;
}


.footer, .header {
  margin-top: 1rem;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.header {
  position: absolute;
  top: 0;  
}

.about-us {
  width: 20rem;
  height: 20rem;
}

.main-contact {
  width: 50%;
  height: 50%;  
  border-radius: 15px;
  background-color: #f2f2f2;
  box-shadow: 0 0 15px 0 #00000033;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-about {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main-about>article {
  width: 40%;  
}

.main-about>article>p {
  color: #c69bfd;
  font-size: 1.5rem;
  text-align: justify;
  padding: 2rem;
  line-height: 2rem;
}

.main-about>img {
  width: 40%;
  height: 60%;
  object-fit: cover;
  border-radius: 15px;
  filter: sepia();
}

.div-form {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.div-form>label {
  color: #fff;
  margin-bottom: 2rem;
}

.form-control {
  width: 8rem;
  margin: 4rem;
  border: groove 2px #740374;  
}

.data-form {
  width: 100%;
  border: solid 2px #340152;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(70, 2, 70);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Media queries */
@media only screen and (max-width: 1500px){

  .main-about>article>p {
    color: #c69bfd;
    font-size: 1rem;
    text-align: justify;
    padding: 2rem;
    line-height: 1rem;
  }
}
  